body{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
}
@font-face{
	font-family: "xieti";
	src: url(./xieti.ttf);
}
.title{
	font-family: "xieti";
}
.top-bar{
	width: 100%;
	position: absolute;
	z-index: 1;
	.top-bar-contain{
		justify-content: space-between;
		max-width: 1200px;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 10px auto;
		a{
			display: flex;
			align-items: center;
		}
		img{
			width: 64px;
			height: 24px;
			margin: 0 50px;
		}
		.menu{
			display: flex;
			flex-direction: row;
			justify-content: end;
			margin: 0 35px;
			.label{
				font-size: 18px;
				margin: 0 15px;
				line-height: 76px;
				color: #fff;
				font-weight: 600;
			}
		}
		.top-dark{
			.label{
				color: #4F4B71;
			}
		}		
	}
}
@media screen and (max-width: 1200px) and (min-width: 701px){
	.top-bar{
		position: relative;
		background-color: #222;
		.top-bar-contain{
			margin: 0;
		}
		img{
			width: 40px;
			height: 15px;
			margin: 0 30px;
		}
	}
}
@media screen and (max-width: 700px) and (min-width: 320px){
	.top-bar{
		position: relative;
		background-color: #222;
		.top-bar-contain{
			margin: 0;
		}
		img{
			width: 40px;
			height: 15px;
			margin: 0 30px;
		}
	}
}
	
.bg-color-black-gradient{
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0));
}
.bg-color-transparen{
	background-color: #222;
}
.bg-color-blue{
	background-color: #469EF0;
}
.title{
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	margin: 100px 0 40px 0 ;
	color: #222;
	font-family: "xieti";
}
.text{
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	line-height: 1.6;
	margin: 10px 0 40px;
	color: #222;
	max-width: 1000px;
	width: 80%;
}
.design-list-group{
	display: flex;
	background-color: #fff;
	align-items: center;
	flex-direction: column;
}
video{
	max-width: 1470px;
}



// HOME-PAGE



.home-page{
	display: block;
	.banner{
		display: flex;
		width: 100%;
		position: relative;
		img{
			width: 100%;
		}
		h1{
			width: 80%;
			position: absolute;
			font-size: 140px;
			margin: auto ;
			text-align: center;
			color: #fff;
			font-family: "xieti";
			line-height: 1.2;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.list{
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		margin: 20px auto 60px;
		max-width: 1500px;
		.card{
			position: relative;
			display: flex;
			margin: 15px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		h1{
			position: absolute;
			left: 40px;
			top: 30px;
			font-weight: 900;
			margin: 0;
			color: #fff;
			font-family:Arial, Helvetica, sans-serif;
		}

		.card1{
			width: calc(50% - 30px);
		}          
	}
}
@media screen and (max-width: 1200px) and (min-width: 701px){
	.home-page{
		.banner{
			h1{
				font-size: 80px;
			}
		}
	}
	.title{
		font-size: 40px;
		margin: 80px 0 20px 0 ;
	}
	.text{
		font-size: 16px;
		margin: 10px 0 20px;
	}
}
@media screen and (max-width: 700px) and (min-width: 320px){
	.home-page{
		.banner{
			h1{
				font-size: 30px;
			}
		}
		.list{
			margin: 20px 10px 60px 10px;
			.card{
				margin: 10px;
			}
			.card1{
				width: calc(100% - 20px);
			}   
		}
	}
	.title{
		font-size: 30px;
		margin: 40px 0 20px 0 ;
	}
	.text{
		font-size: 14px;
		margin: 10px 0 10px;
	}
}



// tangtang PAGE



.page-tangtang{
	display: block;
	.banner{
		display: flex;
		width: 100%;
		position: relative;
		img{
			width: 100%;
		}
		h1{
			width: 80%;
			position: absolute;
			font-size: 140px;
			margin: auto ;
			text-align: left;
			color: #fff;
			font-family: "xieti";
			line-height: 1.2;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	video{
		width: calc(90% - 30px);
		margin: 20px 0 0;
	}
	.bg-white{
		background-color: #F6F6F6;
	}
	.list{
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		margin: 20px auto 60px;
		max-width: 1500px;
		.card{
			display: flex;
			flex-direction: column;
			margin: 15px;
			background-color: #F9F9F9;
			img{
				width: 100%;
				height: 100%;
			}
		}
		h1{
			font-weight: 900;
			font-size: 30px;
			margin: 40px;
			color: #222;
			font-family:Arial, Helvetica, sans-serif;
		}

		.card1{
			width: calc(100%/3 - 30px);
			h1{
				text-align: center;
			}
		}  
		.card3{
			background-color: #fff;
			width: calc(25% - 30px);
			h1{
				font-size: 20px;
				margin: 0 10px 40px 10px;
				text-align: center;
			}
		}        
	}
}
@media screen and (max-width: 1200px) and (min-width: 701px){
	.page-tangtang{
		.banner{
			h1{
				font-size: 80px;
			}
		}
		.list{
			margin: 20px 10px 60px 10px;
			.card{
				margin: 10px;
			}
			.card1{
				width: calc(100%/3 - 20px);
				h1{
					font-size: 20px;
					margin: 30px;
				}
			}  
			.card3{
				width: calc(25% - 20px);
				h1{
					text-align: center;
					font-size: 15px;
					margin: 0 0 20px;
				}
			} 
		}
	}
	.title{
		font-size: 40px;
		margin: 80px 0 20px 0 ;
	}
	.text{
		font-size: 16px;
		margin: 10px 0 20px;
	}	
}
@media screen and (max-width: 700px) and (min-width: 320px){
	.page-tangtang{
		.banner{
			h1{
				font-size: 30px;
			}
		}
		.list{
			margin: 20px 10px 60px 10px;
			.card{
				margin: 10px;
			}
			.card1{
				width: calc(100% - 20px);
				h1{
					font-size: 25px;
					margin: 30px;
				}
			}  
			.card3{
				width: calc(50% - 20px);
				h1{
					text-align: center;
					font-size: 15px;
					margin: 0 0 20px;
				}
			} 
		}
	}
	.title{
		font-size: 30px;
		margin: 40px 0 20px 0 ;
	}
	.text{
		font-size: 14px;
		margin: 10px 0 10px;
	}
}




//weee
.page-weee{
	display: block;
	.banner{
		display: flex;
		width: 100%;
		position: relative;
		img{
			width: 100%;
		}
		.bg{
			position: absolute;
			z-index: -1;
		}
		.weee-phone{
			width: 50%;
		}
		h1{
			width: 80%;
			position: absolute;
			font-size: 140px;
			margin: auto ;
			text-align: left;
			color: #fff;
			font-family: "xieti";
			line-height: 1.2;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	video{
		width: 100%;
	}
	img{
		width: 100%;
	}

}

.banner-weee-group{
	display: flex;
	flex-direction: column;
	background-color: #BDE2C7;
	width: 100%;
	align-items: center;
	background-image: url(../images/image-weee-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 1080px;
	justify-content: center;
	h1{
		max-width: 600px;
		position: relative;
		font-size: 40px;
		margin: auto ;
		text-align: left;
		color: #fff;
		font-weight: 800;
		font-family: "xieti";
		vertical-align: middle;
	}
}
.banner-weee{
	width: 100%;
	max-width: 1500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	img{
		width: 50%;
	}
	.title-group{
		display: flex;
		flex-direction: column;
		justify-content: left;
		margin-left: 50px;
		.logo-weee{
			background-image: url(../images/image-weee-logo.png);
			background-size: cover;
			background-repeat: no-repeat;	
			height: 60px;
			width: 210px;
			margin-bottom: 40px;
		}
		h1{
			position: relative;
			font-size: 40px;
			margin: 20px 0	 ;
			text-align: left;
			color: #333333;
			font-weight: 800;
			font-family: "xieti";
			line-height: 1.2;
		}
		h2{
			max-width: 600px;
			position: relative;
			font-size: 20px;
			margin: 20px 0 ;
			text-align: left;
			color: #333333;
			font-weight: 300;
			line-height: 1.5;
		}
	}
}
.image-list{
	display: flex;
	width: 100%;
	background-image:linear-gradient(#A6D7B4 , #8BBF8F) ;
	img{
		max-width: 1500px;
		margin: 100px auto;
	}
}


//medal
.page-medal{
	display: block;
	.banner{
		display: flex;
		width: 100%;
		position: relative;
		background-color: #000;
		justify-content: center;
		.banner-contain{
			display: flex;
			flex-direction: row;
			width: 90%;
			img{
				width: 45%;
				margin: 100px;
				margin-left: 10vw;
			}
			h1{
				width: 80%;
				font-size: 80px;
				margin: auto ;
				text-align: left;
				color: #fff;
				font-family: "xieti";
				line-height: 1.5;
				margin-left: -10vw;
			}	
		}
	}
	.list{
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		margin: 20px auto 60px;
		max-width: 1500px;
		.card{
			position: relative;
			display: flex;
			margin: 15px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		h1{
			position: absolute;
			left: 40px;
			top: 30px;
			font-weight: 900;
			margin: 0;
			color: #fff;
			font-family:Arial, Helvetica, sans-serif;
		}

		.card1{
			width: calc(50% - 30px);
		}          
	}
}
@media screen and (max-width: 1200px) and (min-width: 701px){
	.page-medal{
		.banner{
			.banner-contain{
				h1{
					font-size: 40px;
					line-height: 1.5;
				}
			}
		}
	}
	.title{
		font-size: 40px;
		margin: 80px 0 20px 0 ;
	}
	.text{
		font-size: 16px;
		margin: 10px 0 20px;
	}
}
@media screen and (max-width: 700px) and (min-width: 320px){
	.page-medal{
		.banner{
			.banner-contain{
				width: 100%;
				flex-direction: column;
				align-items: center;
				img{
					width: 80%;
					margin: 100px;
				}
				h1{
					font-size: 40px;
					line-height: 1.5;
					text-align: center;
					margin: -20vw auto 10vw;
				}
			}
		}
		.list{
			.card{
				margin: 10px;
			}
			.card1{
				width: calc(100% - 20px);
			}   
		}
	}
	.title{
		font-size: 30px;
		margin: 40px 0 20px 0 ;
	}
	.text{
		font-size: 14px;
		margin: 10px 0 10px;
	}
}


//KIT
.page-kit{
	display: block;
	.banner{
		display: flex;
		width: 100%;
		position: relative;
		justify-content: center;
		background-color: #7AC87E;
		img{
			width: 80%;
			margin: 20vw 0 5vw;
		}
		h1{
			position: absolute;
			width: 80%;
			font-size: 120px;
			text-align: left;
			color: #fff;
			font-family: "xieti";
			line-height: 1.2;
			left: 50%;
			top: 25%;
			transform: translate(-40%, -50%);
		}	
	}
	video{
		width: 100%;
		margin: 0 auto;
	}
	.design-list-group{
		background-color: #f6f6f6;
	}
	.list{
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		margin: 20px auto 60px;
		max-width: 1500px;
		justify-content: center;
		background-color: #F6F6F6;
		.card{
			position: relative;
			display: flex;
			flex-direction: column;
			margin: 15px;
			background-color: #fff;
			img{
				width: 100%;
				height: 100%;
			}
		}
		h1{
			font-weight: 900;
			margin: 0;
			color: #222;
			font-family:Arial, Helvetica, sans-serif;
			margin: 50px;
			text-align: center;
			font-size: 30px;
		}
		.card1{
			width: calc(50% - 30px);
		}          
	}
}
@media screen and (max-width: 1200px) and (min-width: 701px){
	.page-kit{
		.banner{
			h1{
				font-size: 60px;
				line-height: 1.3;
				left: 50%;
				top: 30%;	
			}
		}
	}
	.title{
		font-size: 40px;
		margin: 80px 0 20px 0 ;
	}
	.text{
		font-size: 16px;
		margin: 10px 0 20px;
	}
}
@media screen and (max-width: 700px) and (min-width: 320px){
	.page-kit{
		.banner{
			width: 100%;
			flex-direction: column;
			align-items: center;
			h1{
				font-size: 30px;
				line-height: 1.3;
				left: 50%;
				top: 35%;	
			}
		}
		.list{
			.card{
				margin: 10px;
			}
			.card1{
				width: calc(100% - 20px);
			}   
			h1{
				margin: 30px;
				font-size: 20px;
			}
		}
	}
	.title{
		font-size: 30px;
		margin: 40px 0 20px 0 ;
	}
	.text{
		font-size: 14px;
		margin: 10px 0 10px;
	}
}



//Tinkamo
.page-tinkamo{
	display: block;
	.banner{
		display: flex;
		width: 100%;
		position: relative;
		justify-content: center;
		background-color: #F9F9F9;
		img{
			width: 80%;
			margin: 5vw 0 0;
		}
	}
	.design-list-group{
		background-color: #F6F6F6;
	}
	.list{
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		margin: 20px auto 60px;
		max-width: 1500px;
		justify-content: center;
		align-items: baseline;
		.card{
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: column;
			margin: 15px;
			img{
				width: 50%;
				margin: 0 auto;	
			}
		}
		h1{
			font-weight: 700;
			margin: 0;
			color: #222;
			font-family:Arial, Helvetica, sans-serif;
			margin: 40px 0 50px;
			text-align: center;
			font-size: 20px;
		}
		.card4{
			width: calc(20% - 30px);
		}          
	}
	.tinkamo-introduce{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		img{
			width: 100%;
		}
	}	
	.tinkamo-list-group{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #F6F6F6;
		align-items: center;
		justify-content: center;
		.tinkamo-section{
			width: 100%;
			display: flex;
			position: relative;
			margin: 0 auto;
			justify-content: center;
			img{
				width: 100%;
				margin-top: -5vw;
			}
			.hand1{
				position: absolute;
				left: 10vw;
				bottom: 0;
				width: 25%;
			}
			.hand2{
				position: absolute;
				right: 10vw;
				bottom: 0;
				width: 25%;
			}
		}
	}
}
@media screen and (max-width: 1200px) and (min-width: 701px){
	.page-tinkamo{
		.banner{
			h1{
				font-size: 60px;
				line-height: 1.3;
				left: 50%;
				top: 30%;	
			}
		}
		.list{
			.card{
				img{
					width: 60%;
				}
			}
			.card4{
				width: calc(25% - 30px);
			}
		}
	}
	.title{
		font-size: 40px;
		margin: 80px 0 20px 0 ;
	}
	.text{
		font-size: 16px;
		margin: 10px 0 20px;
	}
}
@media screen and (max-width: 700px) and (min-width: 320px){
	.page-tinkamo{
		.banner{
			width: 100%;
			flex-direction: column;
			align-items: center;
			h1{
				font-size: 30px;
				line-height: 1.3;
				left: 50%;
				top: 35%;	
			}
		}
		.list{
			.card{
				margin: 10px;
				img{
					width: 60%;
				}
			}
			.card4{
				width: calc(100%/3 - 20px);
			}   
			h1{
				margin: 30px auto;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
	// .title{
	// 	font-size: 30px;
	// 	margin: 40px 0 20px 0 ;
	// }
	// .text{
	// 	font-size: 14px;
	// 	margin: 10px 0 10px;
	// }
}

//Pandora

.page-pandora{
	display: block;
	.banner{
		display: flex;
		width: 100%;
		position: relative;
		justify-content: center;
		background-color: #469EF0;
		.pandora-contain{
			display: flex;
			flex-direction: row;
			width: 70%;
			align-items: center;
			.pandora-contain-left{
				display: flex;
				flex-direction: column;
				justify-content: center;
				img{
					width: 50%;
					margin: 40px 0;
				}
				h1{
					font-size: 36px;
					font-weight: 600;
					margin: 10px 0;
					color: #fff;
				}
				h2{
					font-size: 30px;
					font-weight: 300;
					margin: 10px 0;
					color: #fff;
					line-height: 1.5;
				}
				a{
					text-decoration:none;
					.button{
						width: 220px;
						height: 60px;
						border-radius: 30px;
						border-color: #fff;
						background-color: #FF6F44;
						color: #fff;
						font-size: 24px;
						text-align: center;
						padding: 0 auto;
						line-height: 60px;
						margin: 40px 0;
					}	
				}
			}
			img{
				margin: 10vw 0;
			}
		}
	}
}
@media screen and (max-width: 1500px) and (min-width: 901px){
	.page-pandora{
		.banner{
			.pandora-contain-left{
				img{
					width: 40%;
					margin: 20px;
				}
				h1{
					font-size: 24px !important;
				}
				h2{
					font-size: 20px !important;
				}
				.button{
					width: 160px;
					height: 44px;
					font-size: 18px;
				}
			}
			img{
				width: 40%;
			}
		}
	}
}
@media screen and (max-width: 900px) and (min-width: 320px){
	.page-pandora{
		.banner{
			height: 90%;
			.pandora-contain{
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				.pandora-contain-left{
					align-items: center;
					z-index: 1;
					img{
						width: 40%;
						margin: 20px;
					}
					h1{
						font-size: 24px;
					}
					h2{
						font-size: 20px;
					}
				}
				img{
					width: 0%;
				}
			}
		}
	}
}



// FOOTER-BAR



.footer-bar-group{
	width: 100%;
	background-color: rgb(53, 43, 56);
	.footer-bar{
		padding: 0 40px;
		display: flex;
		flex-direction: row;
		max-width: 1200px;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: 20px 0 0;
		.logo{
			background-image: url(../images/logo.png);
			background-repeat: no-repeat;
			background-size: cover;
			width: 50px;
			height: 20px;
			margin: 10px 0;
			left: 0;
		}
		.menu{
			display: flex;
			flex-direction: row;
			.label{
				font-size: 18px;
				margin: 0 15px;
				line-height: 76px;
				color: #fff;
				font-weight: 600;
			}
		}
		.contect-button{
			height: 44px;
			width: 120px;
			border-radius: 30px;
			background-color: rgb(248, 135, 43);
			text-align: center;
			line-height: 44px;
			color: #fff;
			font-size: 18px;
			font-weight: 500;
			right: 0;
		}
	}
	.footer-copyright{
		text-align: center;
		margin: 0 auto;
		line-height: 60px;
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		a{
			color: #fff;
			font-weight: 600;
		}
	}
}