body {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "xieti";
  src: url(./xieti.ttf);
}
.top-bar-dark .logo {
  background-image: url(../images/logo-dark.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 20px;
  margin: 10px 0;
}
.top-bar-dark .label {
  font-size: 18px;
  margin: 0 15px;
  line-height: 76px;
  color: #4F4B71 !important;
  font-weight: 600;
}

.top-bar-group {
  width: 100%;
  position: absolute;
  z-index: 99;
}
.top-bar-group .top-bar {
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.top-bar-group .top-bar .logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 20px;
  margin: 10px 0;
}
.top-bar-group .top-bar .menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.top-bar-group .top-bar .menu .label {
  font-size: 18px;
  margin: 0 15px;
  line-height: 76px;
  color: #fff;
  font-weight: 600;
}

.bg-color-black-gradient {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.bg-color-transparen {
  background-color: #222;
}

.banner-design {
  display: flex;
  width: 100%;
}

.banner-home {
  background-image: url(../images/top-photo-design.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1080px;
}
.banner-home .h1 {
  position: relative;
  font-size: 140px;
  margin: auto;
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-family: "xieti";
  line-height: 1.2;
}

.design-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px auto 60px;
  max-width: 1500px;
}
.design-list .card {
  position: relative;
  display: flex;
  margin: 15px;
}
.design-list .card img {
  width: 100%;
  height: 100%;
}
.design-list .card h1 {
  position: absolute;
  left: 40px;
  top: 30px;
  font-weight: 900;
  margin: 0;
  color: #fff;
  font-family: "xieti";
}
.design-list .card1 {
  width: calc(50% - 30px);
}
.design-list .card1 h1 {
  font-size: 30px;
}
.design-list .card2 {
  width: calc(33.3333333333% - 30px);
}
.design-list .card2 h1 {
  font-size: 30px;
}

.design-tangtang {
  background-image: url(../images/design-tangtang.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 100px 0 40px 0;
  color: #222;
  font-family: "xieti";
}

.text {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
  margin: 10px 0 40px;
  color: #222;
  max-width: 1000px;
  width: 100%;
}

.banner-tangtang {
  background-image: url(../images/banner-tangtang.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1080px;
}
.banner-tangtang .h1 {
  max-width: 1200px;
  width: 100%;
  position: relative;
  font-size: 140px;
  margin: auto;
  text-align: left;
  color: #fff;
  font-weight: 800;
  font-family: "xieti";
  line-height: 1.2;
  vertical-align: middle;
}

.design-list-group {
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  flex-direction: column;
}

video {
  max-width: 1470px;
}

.tangtang-list {
  padding: 0 20px;
}
.tangtang-list .card {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tangtang-list .card img {
  width: 80%;
}
.tangtang-list .card2 {
  background-color: rgb(255, 255, 255);
}
.tangtang-list .card2 h1 {
  position: relative;
  left: 0;
  top: 0;
  font-weight: 500;
  margin: 50px 10px;
  color: #222;
  text-align: center;
  font-family: "xieti";
  font-size: 30px;
}
.tangtang-list .card2 img {
  width: 100%;
}
.tangtang-list .card3 {
  width: calc(25% - 30px);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.tangtang-list .card3 h1 {
  position: relative;
  left: 0;
  top: 0;
  font-weight: 500;
  margin: 30px 10px;
  color: #222;
  text-align: center;
  font-family: "xieti";
  font-size: 20px;
}

.opening-animation {
  width: 100%;
  align-items: center;
}
.opening-animation video {
  width: 100%;
  margin: 0 auto;
}

.banner-weee-group {
  display: flex;
  flex-direction: column;
  background-color: #BDE2C7;
  width: 100%;
  align-items: center;
  background-image: url(../images/image-weee-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  justify-content: center;
}
.banner-weee-group h1 {
  max-width: 600px;
  position: relative;
  font-size: 40px;
  margin: auto;
  text-align: left;
  color: #fff;
  font-weight: 800;
  font-family: "xieti";
  vertical-align: middle;
}

.banner-weee {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner-weee img {
  width: 50%;
}
.banner-weee .title-group {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 50px;
}
.banner-weee .title-group .logo-weee {
  background-image: url(../images/image-weee-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60px;
  width: 210px;
  margin-bottom: 40px;
}
.banner-weee .title-group h1 {
  position: relative;
  font-size: 40px;
  margin: 20px 0;
  text-align: left;
  color: #333333;
  font-weight: 800;
  font-family: "xieti";
  line-height: 1.2;
}
.banner-weee .title-group h2 {
  max-width: 600px;
  position: relative;
  font-size: 20px;
  margin: 20px 0;
  text-align: left;
  color: #333333;
  font-weight: 300;
  line-height: 1.5;
}

.image-list {
  display: flex;
  width: 100%;
  background-image: linear-gradient(#A6D7B4, #8BBF8F);
}
.image-list img {
  max-width: 1500px;
  margin: 100px auto;
}

.banner-medal-group {
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 100%;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  justify-content: center;
}
.banner-medal-group .banner-medal {
  max-width: 1500px;
  height: 80%;
  display: flex;
  flex-direction: row;
}
.banner-medal-group .banner-medal img {
  margin: 100px auto 0;
}
.banner-medal-group .banner-medal h1 {
  max-width: 1200px;
  width: 100%;
  position: relative;
  font-size: 80px;
  margin: auto;
  text-align: left;
  color: #fff;
  font-weight: 800;
  font-family: "xieti";
  line-height: 1.5;
  vertical-align: middle;
}

.banner-kit {
  position: relative;
  width: 100%;
  height: 1080px;
  background-color: #7AC87E;
  display: flex;
  flex-direction: column;
}
.banner-kit h1 {
  width: 100%;
  max-width: 1200px;
  position: relative;
  font-size: 140px;
  margin: 100px auto;
  text-align: left;
  color: #fff;
  font-weight: 800;
  font-family: "xieti";
  line-height: 1.2;
}
.banner-kit img {
  position: absolute;
  width: 100%;
  max-width: 1500px;
  bottom: 50px;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.kit-video {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  align-items: center;
}
.kit-video video {
  margin: 0 auto;
}

.design-list-kit {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px auto 60px;
  max-width: 1500px;
}
.design-list-kit .card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: #fff;
}
.design-list-kit .card img {
  width: 100%;
  height: 100%;
}
.design-list-kit .card h1 {
  font-weight: 900;
  margin: 50px auto;
  color: #222;
  font-family: "xieti";
}
.design-list-kit .card1 {
  width: calc(50% - 30px);
}

.banner-tinkamo {
  position: relative;
  width: 100%;
  height: 1080px;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
}
.banner-tinkamo img {
  max-width: 1500px;
  width: 100%;
  margin: 100px auto 0;
}

.tinkamo-introduce {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.tinkamo-introduce img {
  width: 100%;
}

.tinkamo-list-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  align-items: center;
  justify-content: center;
}
.tinkamo-list-group .tinkamo-section {
  width: 100%;
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
}
.tinkamo-list-group .tinkamo-section img {
  width: 75%;
  margin-top: -100px;
}
.tinkamo-list-group .tinkamo-section .hand1 {
  position: absolute;
  left: 10vw;
  bottom: 0;
  width: 25%;
}
.tinkamo-list-group .tinkamo-section .hand2 {
  position: absolute;
  right: 10vw;
  bottom: 0;
  width: 25%;
}

.tinkamo-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px auto 60px;
  max-width: 1500px;
  align-items: flex-end;
  justify-content: left;
}
.tinkamo-list .card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.tinkamo-list .card img {
  width: 50%;
  margin: 0 auto;
}
.tinkamo-list .card h1 {
  font-weight: 600;
  margin: 40px 0;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
}
.tinkamo-list .card4 {
  width: calc(20% - 30px);
}

.footer-bar-group {
  width: 100%;
  background-color: rgb(53, 43, 56);
}
.footer-bar-group .footer-bar {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0 0;
}
.footer-bar-group .footer-bar .logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 20px;
  margin: 10px 0;
  left: 0;
}
.footer-bar-group .footer-bar .menu {
  display: flex;
  flex-direction: row;
}
.footer-bar-group .footer-bar .menu .label {
  font-size: 18px;
  margin: 0 15px;
  line-height: 76px;
  color: #fff;
  font-weight: 600;
}
.footer-bar-group .footer-bar .contect-button {
  height: 44px;
  width: 120px;
  border-radius: 30px;
  background-color: rgb(248, 135, 43);
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  right: 0;
}
.footer-bar-group .footer-copyright {
  text-align: center;
  margin: 0 auto;
  line-height: 60px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.footer-bar-group .footer-copyright a {
  color: #fff;
  font-weight: 600;
}/*# sourceMappingURL=style1.css.map */